<% layout("/layouts/boilerplate") %>

    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">

            <div class="alert alert-danger text-center" role="alert">
                <h4 class="alert-heading">Oops!</h4>
                <p>
                    <%= message %>
                </p>
                <hr>
                <a href="/" class="btn btn-dark mt-3">Go Back Home</a>
            </div>

        </div>
    </div>


    <!-- सुधारणा काय केली:

col-md-6 offset-md-3 वापरून alert card center मध्ये ठेवले.

text-center class added, message visually centered झाला.

h4.alert-heading वापरून heading better visibility मिळाली.

Go Back Home button दिला, जेणेकरून user ला easy navigation मिळेल.

Margin mt-5 दिला, page वर space मिळेल. -->